{% extends "partials/base.html.twig" %}
{% block content %}
<header id="error" class="masthead">
	<div class="content h-100">
		<div class="row h-100 align-items-center justify-content-center text-center">
			<div class="col-lg-10 align-self-end">
				<h1 class="text-uppercase text-white font-weight-bold">Error {{ page.header.http_response_code }}</h1>
				<hr class="divider my-4" />
			</div>
			<div class="col-lg-8 align-self-baseline text-white-75 font-weight-light mb-5">
				{{ page.content|raw}}
			</div>
		</div>
	</div>
</header>
{% endblock %}